.min-h-screen-custom {
  min-height: calc(100vh - 8rem);
}

.nav-link-active {
  --tw-text-opacity: 1;
  color: rgb(96 165 250 / var(--tw-text-opacity));
  border-bottom: 2px solid #60a5fa;
  border-radius: 0;
  transition: color 0.3s, border-bottom 0.3s;
}

.nav-link-inactive {
  color: inherit;
  transition: color 0.3s;
}

.nav-link-inactive:hover {
  background-color: inherit;
  --tw-text-opacity: 1;
  color: rgb(96 165 250 / var(--tw-text-opacity));
  transition: color 0.3s;
}

.glowable-text {
  color: #2c8bff;
}

[glow] .glowable-text {
  color: var(--glow-color);
}

/* custom rainbow effect */
@keyframes rainbow-glow {
  0% {
    box-shadow: 0 0 5px #ff0000;
  }
  14% {
    box-shadow: 0 0 5px #ff7f00;
  }
  28% {
    box-shadow: 0 0 5px #ffff00;
  }
  42% {
    box-shadow: 0 0 5px #00ff00;
  }
  57% {
    box-shadow: 0 0 5px #0000ff;
  }
  71% {
    box-shadow: 0 0 5px #4b0082;
  }
  85% {
    box-shadow: 0 0 5px #9400d3;
  }
  100% {
    box-shadow: 0 0 5px #ff0000;
  }
}

.button-glow:hover {
  animation: rainbow-glow 2s infinite linear;
}

/* card badge custom design */

@keyframes mern-colors {
  0%,
  100% {
    border-color: #47a248;
  } /* MongoDB Green */
  33% {
    border-color: #61dafb;
  } /* React Blue */
  67% {
    border-color: #339933;
  } /* Node.js Green */
}

.badge-mern {
  animation: mern-colors 6s infinite linear;
  border: 2px solid;
  transition: box-shadow 0.3s ease;
}

.badge-mern:hover {
  box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.7);
}

/* make an animation where a rainbow flows through a text from start to end in a smooth manner */
@keyframes rainbow-flow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.rainbow-flow {
  background: linear-gradient(
    45deg,
    #007bff,
    #6610f2,
    #6f42c1,
    #e83e8c,
    #fd7e14,
    #20c997,
    #17a2b8,
    #28a745,
    #ffc107
  );
  background-size: 400% 400%;
  animation: rainbow-flow 5s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
